* {
    margin: 0;
    padding: 0;
    /* 设置 100% + padding 后防止超出 */
    box-sizing: border-box;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

body {
    font-size: 14px;
}

input {
    /* 去掉边框 */
    border: 0 none; 
    /* 去掉聚焦后的边框线 */
    outline-style: none;
}

/* 清除列之后的浮动 */
.row:after {
    content: "";
    display: table;
    clear: both;
}