.bili-nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 24px;
}

/* 顶部左侧导航 */
.left-entry {
    display: flex;
}

.left-entry .entry-title {
    display: flex;
    align-items: center;
    height: 64px;
    color: #fff;
    margin-right: 15px;
}

.left-entry .entry-title svg {
    margin-right: 6px;
}

/* 中间查询框 */
.center-search-container {
    /* 让它有自适应的效果，左右两侧不动，它可以变，占完 100% */
    flex: 1;
    height: 40px;
    padding: 0 48px 0 4px;
    /* 圆角边框效果 */
    border-radius: 8px;
    border: 1px solid #e3e5e7;
    background-color: #f1f2f3;
    /* flex 设置下面的才生效 */
    display: flex;
    align-items: center;
    /* 让子元素根据自身做绝对定位位置，对自身不影响 */
    position: relative;
}

.center-search-container:hover {
    background-color: #fff;
}

.center-search-container .nav-search-content {
    display: flex;
    height: 20px;
    width: 100%;
    padding: 0 8px;
}

.nav-search-content .nav-search-input {
    /* 让它(input)有自适应的效果 */
    flex: 1;
    /* 透明效果 */
    background-color: transparent;
    /* 行高 */
    line-height: 20px;
    overflow: hidden;
    padding-right: 8px;
}

.center-search-container .nav-search-button {
    position: absolute;
    top: 4px;
    right: 7px;
    /* flex 设置下面的才生效，里面还有一个 svg  */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 6px;
    cursor: pointer;
    /* 让下面鼠标经过时显示动画效果 */
    transition: background-color .3s;
}

.center-search-container .nav-search-button:hover{
    background-color: #e3e4e5;
}

/* nav 右铡入口 */
.right-entry {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.right-entry .header-avatar {
    height: 50px;
    width: 50px;
    padding-right: 10px;
    /* 让下面的绝对位生效 */
    position: relative;
}

.right-entry .header-avatar a {
    position: absolute;
    top: 6px;
    left: 10px;
    width: 36px;
    height: 36px;
    /* 跟上面 height 取相同值，表示垂直居中 */
    line-height: 36px;
    /* 正圆型边框 */
    border-radius: 50%;
    background-color: #00aeec;
    display: flex;
    /* 左右居中 */
    justify-content: center;
    /* border: 2px solid #fff; */
    color: #fff;
}

.right-entry .right-entry-item {
    min-width: 50px;
    margin-left: 4px;
}

.right-entry .right-entry-item a {
    display: flex;
    /* 竖向排列，默认为横向 */
    flex-direction: column;
    /* 垂直居中 */
    align-items: center;
    color: #fff;
}

.right-entry-item a span {
    font-size: 13px;
}

.right-entry .upload {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 34px;
    line-height: 34px;
    /* 圆角效果 */
    border-radius: 8px;
    color: #fff;
    background-color: #fb7299;
    margin-left: 10px;
}

.right-entry .upload span {
    margin-left: 5px;
}

/* banner 区域 */
.bili-nav {
    /* 下面三个把它放在背景图上方 */
    position: absolute;
    top: 0px;
    z-index: 1000;
}

/* banner 区域 */
.bili-banner {
    /* 让下面的绝对位生效 */
    position: relative;
    height: 155px;
    width: 100%;
    overflow: hidden; /* 确保裁剪生效 */
}

.bili-banner img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* cover 值表示内容将被缩放和裁剪，以完全覆盖容器，同时保持内容的宽高比 */
    object-fit: cover;
}

.bili-banner .logo {
    width: 100%;
    height: 100%;
    padding: 0 64px;
    display: flex;
    align-items: flex-end;
}

.bili-banner .logo a {
    /* 让 a 宽、高生效, 并且变成行内块 */
    position: relative;
    width: 162px;
    height: 78px;
    margin-bottom: 10px;
}

.bili-banner .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.4),transparent);
}

/* 频道区域 */
.bili-channel {
    height: 110px;
    padding: 0 60px;
    display: flex;
    align-items: center;
}

.bili-channel .channel-icons {
    display: flex;
}

.bili-channel .channel-icons a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 24px;
}

.bili-channel .icon-bg {
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 6px;
}

.bili-channel .icon-bg__dynamic {
    background-color: #ff9212;
}

.bili-channel .icon-bg__popular {
    background-color: #f07775;
}

.bili-channel .icon-bg__channel {
    background-color: #59ca73;
}

.bili-channel .icon-bg svg {
    width: 25px;
    height: 25px;
}

.bili-channel span {
    text-align: center;
}